html {
    background-color: rgb(28, 28, 28);
}

.aligncenter {
    text-align: center;
    margin-top: 150px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

ul li {
    display: list-item;
    margin: 10 0 10 0;

}

ul > li > a > img {
    width: 75px;
    height: 75px;
    margin-top: 10em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
}

.newsfeed {
    height: 100px;
    width: 100px;
    text-align: left;
}